$px2rem: 320/10rem;

html,
body,
#wrap {
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    font-size: 12px;
    color: #6e6d6d;
}

ul,
ol {
    list-style-type: none;
}

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
form,
p {
    margin: 0/$px2rem;
    padding: 0/$px2rem;
    font-family: "Microsoft YaHei";
}

h1 {
    display: none;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

#wrap {
    width: 100%;
    max-width: 640px;
    margin: auto;
    background: url(./images/loading.png) no-repeat center top;
    background-size: 100% 100%;
}


/**/

.bg1,
.bg2,
.bg3,
.bg4,
.bg5,
.bg6,
.bg7,
.bg8 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    position: relative;
}

.bg1 {
    background: url(./images/start.png) no-repeat center top;
    background-size: 100%;
}

.bg2 {
    background: url(./images/ready/doupo-modal.png) no-repeat center top;
    background-size: 100% 100%;
}

.bg3 {
    background: url(./images/ready/sanli-modal.png) no-repeat center top;
    background-size: 100% 100%;
}

.bg4 {
    background: url(./images/ready/gufang-modal.png) no-repeat center top;
    background-size: 100% 100%;
}

.bg5 {
    background: url(./images/ready/fuxiao-modal.png) no-repeat center top;
    background-size: 100% 100%;
}


/*.bg6 {
    background: url(http://evt.dianping.com/movie/page-2016-06-06/res/bg6.jpg) no-repeat center top;
    background-size: 100%;
}*/

.bg7 {
    background: rgba(0, 0, 0, .7);
}

.sp {
    background: url(./images/btn.png) no-repeat;
    background-size: 100% 100%;
}

.bg1_top {
    // padding-top: 496/$px2rem;
}

.start_btn {
    z-index: 10;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 30/$px2rem;
    width: 119/$px2rem;
    height: 40/$px2rem;
    margin-left: -60/$px2rem;
    background-position: 0 0;
}


/* 拼图S */

.puzzle {
    width: 297/$px2rem;
    overflow: hidden;
    margin: 0 auto;
}

.puzzle1_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 11
}

.puzzle1_img img {
    width: 100%;
    height: 100%;
}

.s1 {
    height: 50/$px2rem;
    line-height: 50/$px2rem;
    font-size: 16px;
    text-shadow: 0 0 30/$px2rem #ffeca1;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#4d3a0b), to(#000));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
}

.cont {
    width: 291/$px2rem;
    margin: 4/$px2rem 3/$px2rem;
    overflow: hidden;
    position: relative;
}

.cont ul {
    overflow: hidden;
}

.cont ul li {
    width: 97/$px2rem;
    height: 142/$px2rem;
    float: left;
    list-style: none;
}


/* 拼图E */

.bg6_top {
    width: 200/$px2rem;
    margin: 50/$px2rem auto;
}

.bg6_p {
    width: 100%;
    height: 50/$px2rem;
    background-position: 0 -129/$px2rem;
    text-align: center;
    font-size: 15px;
    color: #fefefe;
    margin-bottom: 41/$px2rem;
}

.bg6_con {
    width: 274/$px2rem;
    height: 41/$px2rem;
    margin: 0 auto;
}

.bg6_btn {
    width: 119/$px2rem;
    height: 41/$px2rem;
    /*background-position: -129/$px2rem 0;*/
    background-image: url(./images/get.png);
    display: inline-block;
    margin: 0 8/$px2rem;
}

.again_btn {
    width: 119/$px2rem;
    height: 41/$px2rem;
    /*background-position: -52/$px2rem -266/$px2rem;*/
    background-image: url(./images/again.png);
    display: inline-block;
    margin: 0 8/$px2rem;
}


/* loading */

.loading {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 309/$px2rem;
    padding-top: 268/$px2rem;
}

.loading_rate {
    height: 20/$px2rem;
    color: #4d3a0b;
    line-height: 20/$px2rem;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.loading_s1 {
    font-size: 11px;
    color: #9fabba;
    line-height: 25/$px2rem;
    text-align: center;
}


/* 弹窗 */

.tan_bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0/$px2rem;
    left: 0/$px2rem;
    z-index: 100;
}

.ready {
    position: absolute;
    top: 200/$px2rem;
    left: 0;
    font-size: 45px;
    color: #ffffff;
    line-height: 50/$px2rem;
    width: 100%;
    height: 50/$px2rem;
    text-align: center;
}

.ready_p1 {
    -webkit-animation: fadeInLeft 2.5s .5s ease both;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50/$px2rem;
}

@-webkit-keyframes fadeInLeft {
    0% {
        -webkit-transform: scale(2)
    }
    /*50%{-webkit-transform:scale(1)}*/
    100% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
}

.ready_p2 {
    -webkit-animation: readyRight 2.5s 2.5s ease both;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50/$px2rem;
}

@-webkit-keyframes readyRight {
    0% {
        -webkit-transform: scale(0);
        opacity: 1;
    }
    /*50%{-webkit-transform:scale(1); opacity: 1}*/
    100% {
        -webkit-transform: scale(3);
        opacity: 0;
    }
}

.xx1 {
    -webkit-animation: fadeInUp .3s 0s ease both;
}

@-webkit-keyframes fadeInUp {
    0% {
        -webkit-transform: translateY(504/$px2rem)
    }
    100% {
        -webkit-transform: translateY(0)
    }
}

.btn_wen {
    width: 50/$px2rem;
    height: 50/$px2rem;
    display: block;
    position: absolute;
    // bottom: 25/$px2rem;
    top: 0;
    right: 6/$px2rem;
    background: url(./images/scan.png) no-repeat;
    background-size: 100% 100%;
    -webkit-tap-highlight-color: transparent;
}

.increase {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    position: relative;
    height: 100%;
}

.increase_ul {
    width: 284/$px2rem;
    height: auto;
    padding-top: 35/$px2rem;
    margin: 0 auto;
}

.increase_ul li {
    width: 132/$px2rem;
    height: auto;
    float: left;
    margin: 0 5/$px2rem 8/$px2rem;
    padding: 4/$px2rem 0;
    background: #59430e;
}

.increase_ul li img {
    width: 124/$px2rem;
    height: 200/$px2rem;
    margin: 0 auto;
}

.increase_ul .on {
    background: darkred;
}

.increase_p {
    display: inline-block;
    width: 100%;
    margin-top: 15/$px2rem;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #4c390b;
    text-shadow: 0 0 10/$px2rem #ffeca1;
}

.increase_p1 {
    height: 18/$px2rem;
    font-size: 12px;
    color: #312507;
    line-height: 18/$px2rem;
    text-align: center;
}

@media screen and (max-height: 480/$px2rem) {
    .box {
        -webkit-transform: scale(.8);
        -webkit-transform-origin: top center;
    }
    .puzzle {
        margin: 50/$px2rem auto;
    }
    .bg6_top {
        height: 372/$px2rem;
    }
}

.loading_div {
    width: 56/$px2rem;
    height: 35/$px2rem;
    margin: auto;
    background: url(./images/loading-icon.png) no-repeat;
    background-size: 100%;
}

.box .title-block{
    position: relative;
    width: 100%;
}
.box .title {
    // position: absolute;
    // bottom: 25/$px2rem;
    width: 100%;
    height: 50/$px2rem;
    line-height: 50/$px2rem;
    color: #4d3a0b;
    font-size: 26px;
    text-align: center;
    text-shadow: 0 0 30/$px2rem #ffeca1;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#4d3a0b), to(#000));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.bg6 .box {
    position: relative;
}

.succeed-p {
    z-index: 99;
    position: absolute;
    top: 140/$px2rem;
    width: 100%;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 12px;
    font-family: "Heiti TC";
    color: rgb(50, 31, 27);
    text-align: center;
}

.bg7 {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
}

.bg7 .box {
    display: none;
    position: relative;
    width: 200/$px2rem;
    margin: 180/$px2rem auto 0;
    padding: 30/$px2rem 0;
    border-radius: 5/$px2rem;
    background: #fff;
    text-align: center;
}

.bg7 .box .top {
    margin-bottom: 20/$px2rem;
    color: #333;
}

.bg7 .box .code-block {
    margin-bottom: 20/$px2rem;
    font-weight: bold;
    color: #000;
}

.bg7 .box .code-block .code {
    width: 100/$px2rem;
    margin: auto;
    margin-top: 5/$px2rem;
    padding: 4/$px2rem 0;
    border-top: 1/$px2rem solid #333;
    border-bottom: 1/$px2rem solid #333;
}

.bg7 .box .announcements {
    color: #c19427;
}

.bg7 .box .close-icon {
    position: absolute;
    top: -8/$px2rem;
    right: -8/$px2rem;
    width: 20/$px2rem;
    height: 20/$px2rem;
    background: url(./images/close.png) no-repeat;
    background-size: 100% 100%;
}

.box-announcements .block {
    line-height: 18/$px2rem;
    padding: 0 15/$px2rem 0 30/$px2rem;
    text-indent: -18/$px2rem;
    text-align: justify;
    color: #333;
}

.box-announcements .block p {
    margin-bottom: 15/$px2rem;
}

.box-announcements .block p:last-child {
    margin: 0;
}

.red {
    color: #ad4746;
}

#timeRate{
    font-size: 16px;
}
.drag-float{
    display: none; 
    width: 97/$px2rem; 
    height: 142/$px2rem; 
    position: absolute; 
    z-index: 99
}
